/* -----------------------------------------------------header------------------------------------------------ */
.header-navbar {
    overflow: hidden;
    background-color: #f8c0a1e6 ;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
}


/* Style the links inside the navigation bar */
.header-navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Style the dropdown content */
.header-dropdown-content {
    text-align: left;;
    display: none;
    position: absolute;
    background-color: #f8c0a1e6 ;
    min-width: 160px;
    max-width: 160px;
    z-index: 1;
}

/* Show the dropdown content on hover */
.header-navbar .header-dropdown:hover .header-dropdown-content {
    display: block;
    text-decoration: none;
}
.header-dropdown-content a:hover,
.header-navbar a:hover {
    background-color: #fff7f7;
    color: #f8bfa1;
    text-decoration: none;
}
/* Change the color of links on hover */
/* .navbar a:hover {
    background-color: #ddd;
    color: black;
} */

/* -----------------------------------------------------------footer------------------------------------------------------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#f8c0a1e6 ;
    padding: 10px 0;
    text-align: center;
    color: white;
    margin-top: 20px;
}


/* ----------------------------------------------------------signup-login------------------------------------------------ */
body, html {
    height:100%;
      background: #1c1e21;
      background: #1c1e21 url(Untitled_design.jpg);
      background-attachment: scroll;
      
      background-position: center center;
      background-repeat: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
        overflow-x: hidden;
      font-family: 'Dosis', sans-serif;
  }
  
  
btn {
      border-radius: 0;
  
    
  }
  .btn:focus, .btn:active, .btn.active, .btn:active:focus {
      outline: 0;
    border-radius: 0;
  }
  
  
  
  .btn-larger {
      padding: 15px 40px !important;
      border:2px solid #f8bfa1 !important;;
      border-radius: 0px !important;;
      text-transform: uppercase;
      font-family: 'Dosis', sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: #f8bfa1;
      background-color: transparent;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
    
  
  }
  .btn-larger:hover, .btn-larger:focus, .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
      border-color: #f8bfa1;
      color: #f8bfa1;
      background-color: #f8bfa1;
    border-radius: 0
  }
  .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
      background-image: none;
  }
  .btn-larger.disabled, .btn-larger[disabled], fieldset[disabled] .btn-larger, .btn-larger.disabled:hover, .btn-larger[disabled]:hover, fieldset[disabled] .btn-larger:hover, .btn-larger.disabled:focus, .btn-larger[disabled]:focus, fieldset[disabled] .btn-larger:focus, .btn-larger.disabled:active, .btn-larger[disabled]:active, fieldset[disabled] .btn-larger:active, .btn-larger.disabled.active, .btn-larger[disabled].active, fieldset[disabled] .btn-larger.active {
      border-color: #AEA8D3;
      background-color: #AEA8D3;
  }
  .btn-larger .badge {
      color: #AEA8D3;
      background-color: #fff;
  }
  
  div#form {
      color: #fff;
      background-attachment: scroll;
      
      /* background-position: center center;
      background-repeat: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover; */
    min-height:100%;
  
  }
  
  #userform p {
      font-size: 14px;
      margin-bottom: 5px;
  }
  #userform ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0px;
  }
  /* #userform {
      background: rgba(0,0,0,0.8);
      margin: 20px 0 20px 0
  } */
   @media (min-width: 768px) {
  #userform {
      background: rgba(59, 63, 62, 0.897) !important;
      margin: 50px 0 60px 0;
  }
  }
  #userform .nav-tabs.nav-justified > li > a {
      text-transform: uppercase;
      font-size: 20px;
      color: #f8bfa1;
      background-color: rgba(90,90,90,0.5);
  }
  #userform .nav-tabs.nav-justified > .active > a, #userform .nav-tabs.nav-justified > .active > a:hover, #userform .nav-tabs.nav-justified > .active > a:focus {
      border: 0;
      background: #f8bfa1;
      color: white;
      border-radius: 0;
  }
  #userform .nav-justified > li > a {
      margin-bottom: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
  }
  #userform .nav-justified > li > a:hover {
      background: #AEA8D3;
      color: #FFF;
  }
  #userform .nav-tabs > li > a {
      border: 0px solid transparent;
      border-radius: 0
  }
  #userform .nav-tabs.nav-justified > li > a:hover {
      background: #f8bfa1;
      color: #FFF;
      border-radius: 0;
      border: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
  }
  #userform .nav-tabs > li.active > a, #userform .nav-tabs > li.active > a:hover, #userform .nav-tabs > li.active > a:focus {
      color: #0c0d47;
      cursor: default;
      background-color: transparent;
      border: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
  }
   @media (min-width: 768px) {
  #userform .nav-tabs.nav-justified > li > a {
      border: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
  }
  .form
  {
    margin-bottom: 5px;
  }
  #userform .nav-tabs.nav-justified > li > a:hover {
      background-color: #f8bfa1;
      border-color: transparent;
      border: 0;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
  }
  }
   @media (max-width: 768px) {
  .nav-justified > li {
      display: table-cell !important;
      width: 1% !important;
  }
  }
  #userform .nav-tabs {
      border-bottom: 0px solid #ddd;
  }
  #userform .tab-pane h2 {
      margin: 10px 0;
      color: #FFF;
  }
  #userform .tab-pane p.lead {
      margin-top: 20px;
  }
  #userform .tab-content {
      padding: 20px
  }
  #userform .form-group {
      margin-bottom: 0px;
      color: #FFF;
  }
  #userform .form-group input, #userform .form-group textarea {
      padding: 10px;
  }
  #userform .form-group input.form-control {
      height: auto;
      background-color: rgba(237, 235, 250, 0.1);
      color: #FFF;
  }
  #userform .form-control {
      border-radius: 0;
      border: 1px solid #fff;
  }
  #userform .form-control:focus {
      border-color: #f8bfa1;
      box-shadow: none;
  }
   #userform::-webkit-input-placeholder {
   /* text-transform: uppercase; */
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
   color: #bbb;
  }
  #userform #signup .form-group label {
      position: relative;
      -webkit-transform: translateY(35px);
      -ms-transform: translateY(35px);
      transform: translateY(35px);
      left: 10px;
      top: 0px;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      pointer-events: none;
      font-size: 12px;
      font-weight: 300
  }
  #userform #signup .form-group label .req {
      margin: 2px;
      color: #f8bfa1;
  }
  #userform #signup .form-group label.active {
      -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px);
      left: 2px;
      font-size: 12px;
  }
  #userform #signup .form-group label.active .req {
      opacity: 0;
  }
  #userform label.highlight {
      color: #ffffff;
  }
  #userform #login .form-group label {
      position: relative;
      -webkit-transform: translateY(35px);
      -ms-transform: translateY(35px);
      transform: translateY(35px);
      left: 10px;
      top: 0px;
      color: rgba(255, 255, 255, 0.621);
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      /* -webkit-backface-visibility: hidden; */
      backface-visibility: hidden;
      pointer-events: none;
      font-size: 12px;
      font-weight: 300
  }
  #userform #login .form-group label .req {
      margin: 2px;
      color: #f8bfa1;
  }
  #userform #login .form-group label.active {
      -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px);
      left: 2px;
      font-size: 12px;
  }
  #userform #login .form-group label.active .req {
      opacity: 0;
  }
  
  .mrgn-30-top {
      margin-top: 30px
  }

  /* -------------------------------------------------reg----------------------------------------------------- */
  #signup span {
    color: #f8bfa1;
    font-size: 15px;
    display: block;
    margin-top: 0px;
    /* margin-left: 3.5%; */
    margin-top: 5px;
}
  /* ------------------------------------------------login--------------------------------------------------- */
  
  #login p {
    color: #f8bfa1;
    font-size: 15px;
    display: block;
    margin-top: 0px;
    /* margin-left: 3.5%; */
    margin-top: 8px;
}

/* ----------------------------------------------------profile page------------------------------------------------*/
.pro{
    width: 1500px  !important;

}
.profile span {
    color: rgb(233, 73, 73);
    font-size: 15px;
    display: block;
    margin-top: 0px;
    /* margin-left: 3.5%; */
    margin-top: 8px;
}
.input-box input[type='file']
{
    display: block;
    font-size: 1.5rem;
    padding: 7px;
}
.form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .check-box label, .gender-box label, .select-box label,.input-box label {
    color: #f8bfa1;
    font-size: 17px;
  }
  
  .form :where(.input-box input, .select-box  ) {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1.3rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 10px;
  }
  textarea
  {
    height: 70px !important;
    width: 100%;
    outline: none;
    font-size: 1.3rem;
    color: #707070 !important;
    margin-top: 8px 0 0 !important;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 10px;
    
  }
  .form .select-box
  {
    padding: 0px !important;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form .column , .column1 {
    display: flex;
    column-gap: 15px;
  }
  .form .gender-box , .form .check-box{
    margin-top: 20px;
  }
  /* .gender-box h3 , .check-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  } */
  .form :where(.gender-option, .gender , .check-option , .skill) {
    display: flex;
    align-items: center;
    column-gap: 20px ;
    flex-wrap: wrap;
  }
  .form .gender .skill {
    column-gap: 5px;
  }
  .gender input , .skill input {
    accent-color: rgb(130, 106, 251);
  }
  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }
  .gender label , .gender-box label , .skill label  {
    color: #f8bfa1 !important;
    font-weight: lighter;
  }
  .address :where(input, .select-box) {
    margin-top: 15px;
  }
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1.3rem;
    padding:  0 10px;;
  }

  .pswd label
  {
    font-weight: lighter;
  }
  .profile_pic img {
    width: 160px; 
    height: 160px; 
    border-radius: 50%; 
    object-fit: cover;
    
}
.profile_pic
{
    text-align: center;
}
#remove
{
    font-size:  12px;
    display: inline;
    margin: 30px auto 20px;
    padding: 8px !important;
    width: fit-content;
}

#login p {
    color: #f8bfa1;
    font-size: 15px;
    display: block;
    margin-top: 0px;
    /* margin-left: 3.5%; */
    margin-top: 8px;
}
.success-box{
    width: 48%;
    margin : 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.916);
}

/* --------------------------------------------------------display project-------------------------------------------------------- */
.project-container
{
    background-color: rgb(255, 255, 255);
    margin: 40px auto 60px !important;
    width:90%;
    border-radius: 5px;
    min-height:80%;
}

.project-update-container{
    background-color: rgb(255, 255, 255);
    margin: 20px auto 60px;
    width:50%;
    border-radius: 5px;
    /* text-align:center; */
    

}


.project-update-container {
    max-width: 500px;
    margin: 30 auto;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
}
.project-update-container .form-group {
    margin-top: 30px;
    margin-bottom: 30px; 
}
/* .project-update-container .btn {
    margin-bottom: 10px; 
} */
/* .pagination>.active>a
{
    background-color: #f8bfa1 !important;
    border-color: #f8bfa1  !important;
} */
.project-form-container label 
{
    display:inline !important;
    font-size: 16px;
    margin : 5px 0; 

}
.skills, .skills label{
    margin-right: 20px;
    font-size: 14px !important;
}
.no_projects
{
    font-size: large;
    text-align: center;
}
.project-form-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
}

.project-form-container label {
    margin-bottom: 10px;
    display: block;
}

.project-form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project-form-container button {
    padding: 7.5px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-form-container button:hover {
    background-color: #0056b3;
}
.pagination>.active>a
{
    position: unset !important;
}
/* ------------------------------------------------------------del project------------------------------------------------------- */
.illegal-del
{
    background-color:white;
    min-height:200px; 
    width:80%;
    text-align: center;
    font-size: large;
}

.check-option
{
    display: flex!important;
    flex-wrap: wrap !important;
}